@model IEnumerable<MemBook.Models.Book>
@{
    ViewData["Title"] = "Каталог товаров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Книги</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Издатель</td>
        <td>Год</td>
        <td>Жанр</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td width="300"><a href="~/Store/BookInfo/@book.Id">@book.Title</a></td>           
            <td width="150">@book.Author</td>
            <td width="150">@book.Publisher</td>
            <td>@book.Year</td>
            <td>@book.Genre</td>
            <td>@book.Price</td>
            <td><a href="~/Store/Buy/@book.Id">Купить</a></td>
        </tr>
    }
</table>